{% extends "base.html" %}
{% load cms_tags staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ page_title }}{% endblock title %}
    
{% block content_SBA %}
        <div id="page-wrapper">

	{% placeholder content or %}
	
	{% endplaceholder %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ page_title }}
                        </div>
                        <div class="panel-body">
                           <div id="quick_submit" class="form">
										{% for field in form %}
										    {{ field.label }} 
											{% if field.help_text %}
											    {{ field }} 
												<small style="color: grey">{{ field.help_text|safe }}</small><br>
											{% else %}
										        {{ field | add_class:'form-control' }} 
											{% endif %}
											{{ field.errors }}
										{% endfor %}
										{% if not formset %}
										<p class="stick-bottom-right"><input type="submit" value="Save" class="btn btn-primary"/></p>
										{% endif %}
										{{ form.non_field_errors }}		
						   </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock content_SBA %}

